In [2]:
import pandas as pd
import csv
import os
import sqlite3

db = sqlite3.connect("first_database.db")
file2 = "Sacramentorealestatetransactions2.csv"
#file = "/Users/arnica/Documents/coding/Python_Jupyter/PythonForDataAnalysis/codeLou_Python/Sacramentorealestatetransactions2.csv"
file = "Sacramentorealestatetransactions.csv"
url = "https://raw.githubusercontent.com/mathcoder3141/blog-data-files/master/Congress_White_House.csv"
#url2 = "https://raw.githubusercontent.com/coryjennings93/codeLou_Python/master/Sacramentorealestatetransactions2.csv"


def run_query(query):
    return pd.read_sql_query(query,db)

In [2]:
os.path.isfile('file2')

False

In [3]:
#os.path.isfile('/Users/arnica/Documents/coding/Python_Jupyter/PythonForDataAnalysis/codeLou_Python/Sacramentorealestatetransactions2.csv')

In [4]:
df = pd.read_csv(file)
print(df)

                              street             city    zip state  beds  \
0                       3526 HIGH ST       SACRAMENTO  95838    CA     2
1                        51 OMAHA CT       SACRAMENTO  95823    CA     3
2                     2796 BRANCH ST       SACRAMENTO  95815    CA     2
3                   2805 JANETTE WAY       SACRAMENTO  95815    CA     2
4                    6001 MCMAHON DR       SACRAMENTO  95824    CA     2
5                 5828 PEPPERMILL CT       SACRAMENTO  95841    CA     3
6                6048 OGDEN NASH WAY       SACRAMENTO  95842    CA     3
7                      2561 19TH AVE       SACRAMENTO  95820    CA     3
8    11150 TRINITY RIVER DR Unit 114   RANCHO CORDOVA  95670    CA     2
9                       7325 10TH ST        RIO LINDA  95673    CA     3
10                  645 MORRISON AVE       SACRAMENTO  95838    CA     3
11                     4085 FAWN CIR       SACRAMENTO  95823    CA     3
12                   2930 LA ROSA RD       SACRAMENTO  95815    CA     1
13                     2113 KIRK WAY       SACRAMENTO  95822    CA     3
14               4533 LOCH HAVEN WAY       SACRAMENTO  95842    CA     2
15                    7340 HAMDEN PL       SACRAMENTO  95842    CA     2
16                       6715 6TH ST        RIO LINDA  95673    CA     2
17           6236 LONGFORD DR Unit 1   CITRUS HEIGHTS  95621    CA     2
18                   250 PERALTA AVE       SACRAMENTO  95833    CA     2
19                   113 LEEWILL AVE        RIO LINDA  95673    CA     3
20                6118 STONEHAND AVE   CITRUS HEIGHTS  95621    CA     3
21                 4882 BANDALIN WAY       SACRAMENTO  95823    CA     4
22                   7511 OAKVALE CT  NORTH HIGHLANDS  95660    CA     4
23                      9 PASTURE CT       SACRAMENTO  95834    CA     3
24                3729 BAINBRIDGE DR  NORTH HIGHLANDS  95660    CA     3
25                3828 BLACKFOOT WAY         ANTELOPE  95843    CA     3
26                   4108 NORTON WAY       SACRAMENTO  95820    CA     3
27                  1469 JANRICK AVE       SACRAMENTO  95832    CA     3
28                     9861 CULP WAY       SACRAMENTO  95827    CA     4
29             7825 CREEK VALLEY CIR       SACRAMENTO  95828    CA     3
..                               ...              ...    ...   ...   ...
955                  2100 BEATTY WAY        ROSEVILLE  95747    CA     3
956              6920 GILLINGHAM WAY  NORTH HIGHLANDS  95660    CA     3
957                 82 WILDFLOWER DR             GALT  95632    CA     3
958                  8652 BANTON CIR        ELK GROVE  95624    CA     4
959              8428 MISTY PASS WAY         ANTELOPE  95843    CA     3
960                7958 ROSEVIEW WAY       SACRAMENTO  95828    CA     3
961                    9020 LUKEN CT        ELK GROVE  95624    CA     3
962              7809 VALLECITOS WAY       SACRAMENTO  95828    CA     3
963               8445 OLD AUBURN RD   CITRUS HEIGHTS  95610    CA     3
964                  10085 ATKINS DR        ELK GROVE  95757    CA     3
965              9185 CERROLINDA CIR        ELK GROVE  95758    CA     3
966                 9197 CORTINA CIR        ROSEVILLE  95678    CA     3
967                  5429 HESPER WAY       CARMICHAEL  95608    CA     4
968                 1178 WARMWOOD CT             GALT  95632    CA     4
969                    4900 ELUDE CT       SACRAMENTO  95842    CA     4
970                    3557 SODA WAY       SACRAMENTO  95834    CA     0
971             3528 SAINT GEORGE DR       SACRAMENTO  95821    CA     3
972                7381 WASHBURN WAY  NORTH HIGHLANDS  95660    CA     3
973             2181 WINTERHAVEN CIR     CAMERON PARK  95682    CA     3
974                 7540 HICKORY AVE       ORANGEVALE  95662    CA     3
975              5024 CHAMBERLIN CIR        ELK GROVE  95757    CA     3
976                2400 INVERNESS DR          LINCOLN  95648    CA     3
977                  5 BISHOPGATE CT       SACRAMENTO  95823    CA     4
978                 5601 REXLEIGH DR       SACRAMENTO  95823    CA     4
979                 1909 YARNELL WAY        ELK GROVE  95758    CA     3
980               9169 GARLINGTON CT       SACRAMENTO  95829    CA     4
981                  6932 RUSKUT WAY       SACRAMENTO  95823    CA     3
982                7933 DAFFODIL WAY   CITRUS HEIGHTS  95610    CA     3
983                 8304 RED FOX WAY        ELK GROVE  95758    CA     4
984              3882 YELLOWSTONE LN  EL DORADO HILLS  95762    CA     3

     baths  sq__ft         type                     sale_date   price  \
0        1     836  Residential  Wed May 21 00:00:00 EDT 2008   59222
1        1    1167  Residential  Wed May 21 00:00:00 EDT 2008   68212
2        1     796  Residential  Wed May 21 00:00:00 EDT 2008   68880
3        1     852  Residential  Wed May 21 00:00:00 EDT 2008   69307
4        1     797  Residential  Wed May 21 00:00:00 EDT 2008   81900
5        1    1122        Condo  Wed May 21 00:00:00 EDT 2008   89921
6        2    1104  Residential  Wed May 21 00:00:00 EDT 2008   90895
7        1    1177  Residential  Wed May 21 00:00:00 EDT 2008   91002
8        2     941        Condo  Wed May 21 00:00:00 EDT 2008   94905
9        2    1146  Residential  Wed May 21 00:00:00 EDT 2008   98937
10       2     909  Residential  Wed May 21 00:00:00 EDT 2008  100309
11       2    1289  Residential  Wed May 21 00:00:00 EDT 2008  106250
12       1     871  Residential  Wed May 21 00:00:00 EDT 2008  106852
13       1    1020  Residential  Wed May 21 00:00:00 EDT 2008  107502
14       2    1022  Residential  Wed May 21 00:00:00 EDT 2008  108750
15       2    1134        Condo  Wed May 21 00:00:00 EDT 2008  110700
16       1     844  Residential  Wed May 21 00:00:00 EDT 2008  113263
17       1     795        Condo  Wed May 21 00:00:00 EDT 2008  116250
18       1     588  Residential  Wed May 21 00:00:00 EDT 2008  120000
19       2    1356  Residential  Wed May 21 00:00:00 EDT 2008  121630
20       2    1118  Residential  Wed May 21 00:00:00 EDT 2008  122000
21       2    1329  Residential  Wed May 21 00:00:00 EDT 2008  122682
22       2    1240  Residential  Wed May 21 00:00:00 EDT 2008  123000
23       2    1601  Residential  Wed May 21 00:00:00 EDT 2008  124100
24       2     901  Residential  Wed May 21 00:00:00 EDT 2008  125000
25       2    1088  Residential  Wed May 21 00:00:00 EDT 2008  126640
26       1     963  Residential  Wed May 21 00:00:00 EDT 2008  127281
27       2    1119  Residential  Wed May 21 00:00:00 EDT 2008  129000
28       2    1380  Residential  Wed May 21 00:00:00 EDT 2008  131200
29       2    1248  Residential  Wed May 21 00:00:00 EDT 2008  132000
..     ...     ...          ...                           ...     ...
955      2    1371  Residential  Thu May 15 00:00:00 EDT 2008  208250
956      1    1310  Residential  Thu May 15 00:00:00 EDT 2008  208318
957      2    1262  Residential  Thu May 15 00:00:00 EDT 2008  209347
958      2    1740  Residential  Thu May 15 00:00:00 EDT 2008  211500
959      2    1517  Residential  Thu May 15 00:00:00 EDT 2008  212000
960      2    1450  Residential  Thu May 15 00:00:00 EDT 2008  213000
961      2    1416  Residential  Thu May 15 00:00:00 EDT 2008  216000
962      1     888  Residential  Thu May 15 00:00:00 EDT 2008  216021
963      2    1882  Residential  Thu May 15 00:00:00 EDT 2008  219000
964      2    1302  Residential  Thu May 15 00:00:00 EDT 2008  219794
965      2    1418  Residential  Thu May 15 00:00:00 EDT 2008  220000
966      2       0        Condo  Thu May 15 00:00:00 EDT 2008  220000
967      2    1319  Residential  Thu May 15 00:00:00 EDT 2008  220000
968      2    1770  Residential  Thu May 15 00:00:00 EDT 2008  220000
969      2    1627  Residential  Thu May 15 00:00:00 EDT 2008  223000
970      0       0  Residential  Thu May 15 00:00:00 EDT 2008  224000
971      1    1040  Residential  Thu May 15 00:00:00 EDT 2008  224000
972      1     960  Residential  Thu May 15 00:00:00 EDT 2008  224252
973      2       0  Residential  Thu May 15 00:00:00 EDT 2008  224500
974      1    1456  Residential  Thu May 15 00:00:00 EDT 2008  225000
975      2    1450  Residential  Thu May 15 00:00:00 EDT 2008  228000
976      2    1358  Residential  Thu May 15 00:00:00 EDT 2008  229027
977      2    1329  Residential  Thu May 15 00:00:00 EDT 2008  229500
978      2    1715  Residential  Thu May 15 00:00:00 EDT 2008  230000
979      2    1262  Residential  Thu May 15 00:00:00 EDT 2008  230000
980      3    2280  Residential  Thu May 15 00:00:00 EDT 2008  232425
981      2    1477  Residential  Thu May 15 00:00:00 EDT 2008  234000
982      2    1216  Residential  Thu May 15 00:00:00 EDT 2008  235000
983      2    1685  Residential  Thu May 15 00:00:00 EDT 2008  235301
984      2    1362  Residential  Thu May 15 00:00:00 EDT 2008  235738

      latitude   longitude
0    38.631913 -121.434879
1    38.478902 -121.431028
2    38.618305 -121.443839
3    38.616835 -121.439146
4    38.519470 -121.435768
5    38.662595 -121.327813
6    38.681659 -121.351705
7    38.535092 -121.481367
8    38.621188 -121.270555
9    38.700909 -121.442979
10   38.637663 -121.451520
11   38.470746 -121.458918
12   38.618698 -121.435833
13   38.482215 -121.492603
14   38.672914 -121.359340
15   38.700051 -121.351278
16   38.689591 -121.452239
17   38.679776 -121.314089
18   38.612099 -121.469095
19   38.689999 -121.463220
20   38.707851 -121.320707
21   38.468173 -121.444071
22   38.702792 -121.382210
23   38.628631 -121.488097
24   38.701499 -121.376220
25   38.709740 -121.373770
26   38.537526 -121.478315
27   38.476472 -121.501711
28   38.558423 -121.327948
29   38.472122 -121.404199
..         ...         ...
955  38.737882 -121.308142
956  38.694279 -121.373395
957  38.259708 -121.311616
958  38.444000 -121.370993
959  38.722959 -121.347115
960  38.467836 -121.410366
961  38.451398 -121.366614
962  38.508217 -121.411207
963  38.715423 -121.246743
964  38.390893 -121.437821
965  38.424497 -121.426595
966  38.793152 -121.290025
967  38.665104 -121.315901
968  38.289544 -121.284607
969  38.696740 -121.350519
970  38.631026 -121.501879
971  38.629468 -121.376445
972  38.703550 -121.375103
973  38.697570 -120.995739
974  38.703056 -121.235221
975  38.389756 -121.446246
976  38.897814 -121.324691
977  38.467936 -121.445477
978  38.445342 -121.441504
979  38.417382 -121.484325
980  38.457679 -121.359620
981  38.499893 -121.458890
982  38.708824 -121.256803
983  38.417000 -121.397424
984  38.655245 -121.075915

[985 rows x 12 columns]

In [5]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [6]:
len(df)

985

In [7]:
df.shape

(985, 12)

In [8]:
df.isnull().sum()

street       0
city         0
zip          0
state        0
beds         0
baths        0
sq__ft       0
type         0
sale_date    0
price        0
latitude     0
longitude    0
dtype: int64

In [9]:
df.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [10]:
with open(file) as lines:
    for _ in range(5):
        # The `file` object is an iterator, so just get the next line 
        print(next(lines))

street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude

3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879

51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028

2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839

2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146

In [11]:
df.to_sql("houses", db, if_exists="replace")

In [3]:
# query to show us what tables exist in DB
query = """
SELECT * 
FROM sqlite_master
ORDER BY name;
"""
run_query(query)

,type,name,tbl_name,rootpage,sql
0,table,CLproject,CLproject,68,"CREATE TABLE ""CLproject"" (\n""index"" INTEGER,\n..."
1,table,address,address,2,"CREATE TABLE ""address"" (\n""index"" INTEGER,\n ..."
2,table,houses,houses,35,"CREATE TABLE ""houses"" (\n""index"" INTEGER,\n ""..."
3,index,ix_CLproject_index,CLproject,69,"CREATE INDEX ""ix_CLproject_index""ON ""CLproject..."
4,index,ix_address_index,address,3,"CREATE INDEX ""ix_address_index""ON ""address"" (""..."
5,index,ix_houses_index,houses,36,"CREATE INDEX ""ix_houses_index""ON ""houses"" (""in..."

In [12]:
query = """
SELECT zip 
FROM houses
ORDER BY zip;
"""
run_query(query)

       zip
0    95603
1    95603
2    95603
3    95603
4    95603
5    95608
6    95608
7    95608
8    95608
9    95608
10   95608
11   95608
12   95608
13   95608
14   95608
15   95608
16   95608
17   95608
18   95608
19   95608
20   95608
21   95608
22   95608
23   95608
24   95608
25   95610
26   95610
27   95610
28   95610
29   95610
..     ...
955  95843
956  95843
957  95843
958  95843
959  95843
960  95843
961  95843
962  95843
963  95843
964  95843
965  95843
966  95843
967  95843
968  95843
969  95843
970  95843
971  95843
972  95843
973  95843
974  95843
975  95843
976  95843
977  95843
978  95843
979  95843
980  95864
981  95864
982  95864
983  95864
984  95864

[985 rows x 1 columns]

In [13]:
query = """
SELECT sq__ft
FROM address
ORDER BY sq__ft;
"""
run_query(query)

     sq__ft
0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
..      ...
955    3229
956    3260
957    3261
958    3281
959    3357
960    3389
961    3397
962    3433
963    3440
964    3440
965    3468
966    3508
967    3516
968    3579
969    3599
970    3612
971    3615
972    3670
973    3741
974    3746
975    3788
976    3838
977    3863
978    3881
979    3984
980    3992
981    4246
982    4303
983    4400
984    5822

[985 rows x 1 columns]

In [14]:
query = """
SELECT *
FROM houses
ORDER BY price DESC;
"""
run_query(query)

,index,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,864,9401 BARREL RACER CT,WILTON,95693,CA,4,3,4400,Residential,Fri May 16 00:00:00 EDT 2008,884790,38.415298,-121.194858
1,863,2982 ABERDEEN LN,EL DORADO HILLS,95762,CA,4,3,0,Residential,Fri May 16 00:00:00 EDT 2008,879000,38.706692,-121.058869
2,334,3935 EL MONTE DR,LOOMIS,95650,CA,4,4,1624,Residential,Tue May 20 00:00:00 EDT 2008,839000,38.813337,-121.133348
3,157,315 JUMEL CT,EL DORADO HILLS,95762,CA,6,5,0,Residential,Wed May 21 00:00:00 EDT 2008,830000,38.669931,-121.059580
4,553,6222 CALLE MONTALVO CIR,GRANITE BAY,95746,CA,5,3,3670,Residential,Mon May 19 00:00:00 EDT 2008,760000,38.779435,-121.146676
5,333,1409 47TH ST,SACRAMENTO,95819,CA,5,2,2484,Residential,Tue May 20 00:00:00 EDT 2008,699000,38.563244,-121.446876
6,552,12901 FURLONG DR,WILTON,95693,CA,5,3,3788,Residential,Mon May 19 00:00:00 EDT 2008,691659,38.413535,-121.188211
7,332,4128 HILL ST,FAIR OAKS,95628,CA,5,5,2846,Residential,Tue May 20 00:00:00 EDT 2008,680000,38.641670,-121.262099
8,862,2065 IMPRESSIONIST WAY,EL DORADO HILLS,95762,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,680000,38.682961,-121.033253
9,551,2400 COUNTRYSIDE DR,PLACERVILLE,95667,CA,3,2,2025,Residential,Mon May 19 00:00:00 EDT 2008,677048,38.737452,-120.910963
10,550,4629 DORCHESTER LN,GRANITE BAY,95746,CA,5,3,2896,Residential,Mon May 19 00:00:00 EDT 2008,676200,38.723545,-121.216025
11,549,4734 GIBBONS DR,CARMICHAEL,95608,CA,4,3,3357,Residential,Mon May 19 00:00:00 EDT 2008,668365,38.635580,-121.353639
12,156,4004 CRESTA WAY,SACRAMENTO,95864,CA,3,3,2325,Residential,Wed May 21 00:00:00 EDT 2008,660000,38.591618,-121.370626
13,548,104 CATLIN CT,FOLSOM,95630,CA,4,3,2660,Residential,Mon May 19 00:00:00 EDT 2008,636000,38.684459,-121.145935
14,861,200 CRADLE MOUNTAIN CT,EL DORADO HILLS,95762,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,622500,38.647800,-121.030900
15,331,8616 ROCKPORTE CT,ROSEVILLE,95747,CA,4,2,0,Residential,Tue May 20 00:00:00 EDT 2008,614000,38.742118,-121.359909
16,330,2981 WRINGER DR,ROSEVILLE,95661,CA,4,3,3838,Residential,Tue May 20 00:00:00 EDT 2008,613401,38.735373,-121.227072
17,860,8432 BRIGGS DR,ROSEVILLE,95747,CA,5,3,3579,Residential,Fri May 16 00:00:00 EDT 2008,610000,38.788610,-121.339495
18,155,4070 REDONDO DR,EL DORADO HILLS,95762,CA,4,3,0,Residential,Wed May 21 00:00:00 EDT 2008,606238,38.666807,-121.064830
19,154,6030 PALERMO WAY,EL DORADO HILLS,95762,CA,4,3,0,Residential,Wed May 21 00:00:00 EDT 2008,600000,38.672761,-121.050378
20,856,1800 AVONDALE DR,ROSEVILLE,95747,CA,5,3,0,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.798448,-121.344054
21,857,4620 BROMWICH CT,ROCKLIN,95677,CA,4,3,0,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.772672,-121.220232
22,858,620 KESWICK CT,GRANITE BAY,95746,CA,4,3,2356,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.732096,-121.219142
23,859,4478 GREENBRAE RD,ROCKLIN,95677,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.781134,-121.222801
24,855,9880 IZILDA CT,SACRAMENTO,95829,CA,5,4,3863,Residential,Fri May 16 00:00:00 EDT 2008,598695,38.453260,-121.325730
25,153,868 HILDEBRAND CIR,FOLSOM,95630,CA,0,0,0,Residential,Wed May 21 00:00:00 EDT 2008,585000,38.670947,-121.097727
26,329,5709 RIVER OAK WAY,CARMICHAEL,95608,CA,4,2,2222,Residential,Tue May 20 00:00:00 EDT 2008,582000,38.602461,-121.330979
27,547,9360 MAGOS RD,WILTON,95693,CA,5,2,3741,Residential,Mon May 19 00:00:00 EDT 2008,579093,38.416809,-121.240628
28,853,1165 37TH ST,SACRAMENTO,95816,CA,2,1,1252,Residential,Fri May 16 00:00:00 EDT 2008,575000,38.568438,-121.457854
29,854,203 CASCADE FALLS DR,FOLSOM,95630,CA,4,3,3229,Residential,Fri May 16 00:00:00 EDT 2008,575000,38.703962,-121.187100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,575,19 E ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885017,-121.290262
956,576,27 E ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885173,-121.290270
957,577,35 E ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885328,-121.290275
958,578,43 E ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885483,-121.290277
959,579,51 E ST,LINCOLN,95648,CA,4,2,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885638,-121.290279
960,580,59 E ST,LINCOLN,95648,CA,3,2,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885794,-121.290281
961,581,75 E ST,LINCOLN,95648,CA,3,2,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886104,-121.290285
962,582,63 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885093,-121.289932
963,583,398 1ST ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886530,-121.288952
964,584,386 1ST ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886528,-121.288869
965,585,374 1ST ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886525,-121.288787
966,586,116 CRYSTALWOOD WAY,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886282,-121.289586
967,587,108 CRYSTALWOOD WAY,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886282,-121.289646
968,588,100 CRYSTALWOOD WAY,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886282,-121.289706
969,589,55 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884865,-121.289922
970,590,51 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884752,-121.289907
971,591,47 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884638,-121.289893
972,592,43 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884568,-121.289784
973,593,39 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884546,-121.289562
974,594,35 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884645,-121.289397
975,595,31 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884790,-121.289392
976,596,27 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884985,-121.289399
977,597,23 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885181,-121.289406
978,598,19 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885376,-121.289414
979,599,15 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885571,-121.289421
980,600,7 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885962,-121.289436
981,601,7 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885962,-121.289436
982,602,3 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886093,-121.289584
983,866,14151 INDIO DR,SLOUGHHOUSE,95683,CA,3,4,5822,Residential,Fri May 16 00:00:00 EDT 2008,2000,38.490447,-121.129337
984,865,3720 VISTA DE MADERA,LINCOLN,95648,CA,3,3,0,Residential,Fri May 16 00:00:00 EDT 2008,1551,38.851645,-121.231742

In [21]:
query_table_help = """
SELECT city , *FROM PRAGMA_TABLE_INFO('houses');
"""
run_query(query_table_help)

ProgrammingError: Cannot operate on a closed database.

In [15]:
query = """
SELECT * 
FROM sqlite_master;
"""
run_query(query)

,type,name,tbl_name,rootpage,sql
0,table,address,address,2,"CREATE TABLE ""address"" (\n""index"" INTEGER,\n ..."
1,index,ix_address_index,address,3,"CREATE INDEX ""ix_address_index""ON ""address"" (""..."
2,table,houses,houses,35,"CREATE TABLE ""houses"" (\n""index"" INTEGER,\n ""..."
3,index,ix_houses_index,houses,36,"CREATE INDEX ""ix_houses_index""ON ""houses"" (""in..."

In [16]:
#cur = db.cursor()

In [17]:
#cur.execute("select * from address;")

In [18]:
#cur.close()
db.close()